[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
pillow = "*"
djangorestframework = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.1"
